<div class="auth-wrap">
  <div class="align-center">
    <p></p>
    <div class="login d-inline-block row width-2-3">
      <div class="panel panel-default">
        <div class="panel-heading">Управление {{ text }}</div>
        <div class="panel-body">
          <div class="form-horizontal">
            <button class="btn btn-primary btn-primary-s" (click)="executeButtonClick()">Запустить процесс</button>
            <button class="btn btn-primary btn-primary-s" (click)="monitor()">Монитор</button>
          </div>
          <div class="markup-item">
            <strong class="markup-status" *ngIf="model32">32-bit jar status: {{model32.status}}</strong>
          </div>
          <div class="markup-item">
            <strong class="markup-status" *ngIf="model64">64-bit jar status: {{model64.status}}</strong>
          </div>
          <div class="log-area">
            <textarea #textArea32 readonly *ngIf="model32">{{model32.output}}</textarea>
            <textarea #textArea64 readonly *ngIf="model64">{{model64.output}}</textarea>
          </div>
          <input #imageFile
                 (change)="localFile($event)"
                 class="form__download-input"
                 type="file"
                 name="first_page_photo"
                 accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
          <img [src]="url" height="200">
        </div>
      </div>
    </div>
  </div>
</div>
