<div class="modal__item">
  <img #cropImage
       (touchstart)="cropperTouchStart($event)"
       id="cropimage"
       class="cropImage"
       (keydown)="enableDrag($event)"
       (keyup)="disableDrag($event)"
       src="{{ imageUrl }}"
       alt="">
</div>
<div class="modal__item-buttons">
  <button class="modal__item-btn gray" type="button" (click)="closeModal()">
    Cancel
  </button>
  <button class="modal__item-btn" type="button" (click)="getCroppedData()">
      Save
  </button>
</div>
